.sh-advanced-input-wrapper {
	width: 100%;
	max-height: 140px;
	min-height: 50px;
	line-height: 24px;
	padding: 5px 15px;
	border: 1px solid #dcdfe5;
	border-radius: 4px;
	outline: none;
	resize: vertical;
	overflow: auto;
	box-sizing: border-box;
	text-align: left;
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	margin: 0 1px;
	letter-spacing: 0.05em;
	transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
	&:hover {
		border-color: #c0c4cc;
	}
	&:focus {
		border-color: #409eff;
	}
	&.sh-advanced-input-focus {
		border-color: #409eff;
	}
	input {
		// border: none;
		width: 130px;
		height: 16px;
		outline: none;
	}
	-webkit-user-modify: read-write;
	p {
		display: inline-block;
		-webkit-user-modify: read-only;
		margin: 0;
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		line-height: 1;
	}
	span {
		padding: 2px 3px;
		background: red;
		color: #fff;
		display: inline-block;
		border-radius: 4px;
		line-height: 1;
		-webkit-user-modify: read-only;
	}
}